@use "@angular/material" as mat;

@include mat.core();

$todo-list-primary: mat.define-palette(mat.$indigo-palette);
$todo-list-accent: mat.define-palette(mat.$lime-palette);
$todo-list-warn: mat.define-palette(mat.$red-palette);

$todo-list-theme: mat.define-light-theme(
  (
    color: (
      primary: $todo-list-primary,
      accent: $todo-list-accent,
      warn: $todo-list-warn,
    ),
  )
);

@include mat.all-component-themes($todo-list-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
